@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root {
    --cream: #FDFBD4;
    --morado: #9d00ff;
    --gris_plata: #E5E5E5;
    --carmesi: #b10e0e;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    border: var(--carmesi) 0.2rem solid;
    background-color: #b10e0e5e;
    padding: 1.2rem;

    display: grid;
    grid-template-columns: 90% 10%;
}

span {
    font-size: 2.8rem;
}

body {
    font-family: "Story Script", sans-serif;
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pageTitle, .menuItem {
    background-color: #d6101070;
}

.pageTitle {
    letter-spacing: 0.8rem;
    padding: 0 2rem;
    border-radius: 1rem 0 0 1rem;

    display: flex;
    justify-content: space-between;
}

.pageTitle span {
    color: whitesmoke;
    margin-right: 1.2rem;
}

.pageTitle div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pageTitle div a {
    display: flex;
    align-items: center;
}

.pageTitle button {
    cursor: pointer;
    border: var(--gris_plata) 0.2rem solid;
    background-color: rgba(255, 255, 255, 0.205);
    color: white;
    font-size: 2rem;
    padding: 1.2rem;
    border-radius: 1rem;

    transition: background-color 0.5s ease-out;
}

.pageTitle button:hover {
    background-color: var(--carmesi);
}

.pageTitle a {
    font-size: 7rem;
    color: currentColor;
}

a {
    text-decoration: none;
    color: #d0adf0;
}

.menuItem {
    border-radius: 0 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border: none;
    height: 1rem;
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
}

fieldset {
    border: none;
}

input {
    border: none;
    background-color: transparent;
    outline: none;
}

footer {
    width: 85vw;
    margin: 4rem auto 0;
    border-radius: 1.5rem 1.5rem 0 0;

    padding: 0.8rem;
    font-size: 2.2rem;
    background-color: var(--carmesi);
    text-align: center;
}

@keyframes apparition {
    from {
        filter: blur(1px);
        opacity: 0.2;
        transform: translateX(-440px);
    }
    to {
        filter: blur(0px);
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes entranceVer {
    from {
        transform: translateY(320px);
    }
}

@keyframes entranceR {
    from {
        transform: translateX(400px);
    }
}

/* MQ */

@media (max-width:500px) {
    .pageTitle {
        padding: 0 0.6rem;
        letter-spacing: 0.2rem;
    }

    nav {
        grid-template-columns: 80% 20%;
    }

    .pageTitle a {
        font-size: 3.6rem;
        margin: 0 0.4rem;

        display: flex;
        align-items: center;
    }

    .pageTitle div {
        flex-direction: column;
        gap: 0;
    }

    .pageTitle div button {
        font-size: 1.2rem;
        padding: 0.6rem;
    }

    .pageTitle span {
        font-size: 2.4rem;
        margin-right: 0.6rem;
    }

    footer {
        width: 100vw;
    }
}